# Env files.
.env
.env_old
uploads/
firebase*.json

# Dev files.
cmds.txt
*.log
testing/
tmp/

# Build files.
# build/
build_public/
node_modules/

# Graphics
*.ai
*.aseprite
*.svg