# Environment variables.
.env
.env_old
firebase.json
*firebase-adminsdk*.json

# Node modules.
node_modules/

# Testing.
testing/
tmp/
*.log

# Build.
build_public/
*build/

# Uploaded data.
uploads/

# File formats.
*.ai
*.aseprite
*.svg

# Automation.
cmds.txt