.alert-list {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column-reverse;

    position: fixed;
    top: 10px;
    left: 0px;

    width: 100%;

    opacity: 0.9;
    z-index: 50;
}

.alert {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    width: 50vw;

    margin-bottom: 10px;
    padding: 5px;

    background-color: var(--theme-color);
    color: white;
    box-shadow: 0px 0px 5px black;

    -webkit-transition: opacity 500ms linear;
    transition: opacity 500ms linear;
}

.hide-alert {
    margin-right: 10px;

    cursor: pointer;
}

.hide-alert:hover {
    color: rgb(223, 223, 223);
}

.alert-error {
    background-color: #cf6679;
    color: #121212;
}

.alert-success {
    background-color: #9ccc65;
    color: #121212;
}

.alert-error .hide-alert:hover,
.alert-success .hide-alert:hover {
    color: #262626;
}

.alert a {
    text-decoration: none;
    color: #97bde1;
    cursor: pointer;
}

@media (max-width: 1600px) {
    .alert {
        width: 60vw;
    }
}

@media (max-width: 1400px) {
    .alert {
        width: 70vw;
    }
}

@media (max-width: 1200px) {
    .alert {
        width: 80vw;
    }
}

@media (max-width: 1000px) {
    .alert {
        width: 90vw;
    }
}