
.emote {
	display: inline-block;

    width: 28px;
	height: 28px;
	margin-right: 5px;
	
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.emote:last-child {
	margin-right: 0px;
}