

@media (max-width: 900px) {
    /*
     * Top bar
     *  - Contains game title, settings button, setup info, leave button, etc.
     */

    /* Unnecessary elements */
    .game .top .game-name-wrapper,
    .game .top .misc-wrapper .misc-left .options {display: none;}

    .game .top {
        margin-top: 10px;
		flex-flow: column;
    }

	.game .top .state-wrapper {
		order: 3;
		margin-top: 15px
	}

    /* Pad the sides of the wrapper */
    .game .top .misc-wrapper {
        padding: 0 10px;
    }

    /* Inflate buttons, move to left */
    .game .top .misc-wrapper .misc-left {
        margin-right: auto;
    }

    .game .top .misc-wrapper .misc-buttons {
        margin: 0px;
    }

    .game .top .misc-wrapper .misc-buttons > i {
        margin: 0px 15px;
        transform: scale(2);
    }

    /*
     * Main Content
     *  - Contains player list, actions, chat, etc.
     */
	.game .main {
        display: grid;
        grid-template-columns: [col-start] 1fr [col-middle] 250px [col-end];
        grid-template-rows: [row-start] 50% [row-middle] 50% [row-end];
    
        width: 100%;
        margin: 0;
		overflow-x: scroll;
		scrollbar-width: none;
		scroll-snap-type: x mandatory;
        justify-content: left;
	}

	.game .main::-webkit-scrollbar {
		display: none;
	}

	.game .main::-webkit-scrollbar-track {
		display: none;
	}

	.game .main::-webkit-scrollbar-thumb {
		display: none;
	}

	.game .message .sender {
		flex-basis: 100px;
		padding-left: 0px;
	}

	.game .message .time {
		display: none;
	}

    /*
     * Main/Center Panel
     */
    .game .fullscreen .center-panel,
	.game .center-panel {
        align-self: unset;
        flex-grow: unset;
        flex-basis: unset;
        grid-column: col-start / col-middle;
        grid-row: row-start / row-end;

        width: 100%;
        padding: 0 5px 0 0;

		scroll-snap-align: center;
		scroll-snap-stop: always;
	}

    /*
     * Left/Right/Side Panel
     */
    .game .fullscreen .left-panel,
	.game .left-panel {
        grid-column: col-middle / col-end;
        grid-row: row-middle / row-end;
		scroll-snap-align: start;
		scroll-snap-stop: always;
	}

    .game .fullscreen .right-panel,
	.game .right-panel {
        grid-column: col-middle / col-end;
        grid-row: row-start / row-middle;
		scroll-snap-align: end;
		scroll-snap-stop: always;
	}

	.game .right-panel .side-menu:first-child .side-menu-title {
        padding: 10px;
        background-color: var(--theme-color);
	}

    .game .fullscreen .left-panel,
    .game .fullscreen .right-panel,
    .game .left-panel, .game .right-panel {
        width: 100%;
    }

    .game .side-menu-title {
        padding: 5px 10px;
    }

    /* Player link disable */
    .game .player a {
        pointer-events: none;
    }

}



@media (max-width: 600px) {
    /*
     * Main Content
     *  - Contains player list, actions, chat, etc.
     */
	.game .main {
        width: 100%;
        margin: 0;
		overflow-x: scroll;
		scrollbar-width: none;
		scroll-snap-type: x mandatory;
        justify-content: left;
	}

	.game .center-panel {
        flex-grow: 1;
		scroll-snap-align: center;
		scroll-snap-stop: always;
	}

	.game .right-panel,
    .game .fullscreen .right-panel {
        flex-grow: 0;
        width: 40%;
        min-width: unset;
		max-width: 250px;
		scroll-snap-align: end;
		scroll-snap-stop: always;
	}
}



@media (max-width: 480px) {
    /*
     * Top bar
     *  - Contains game title, settings button, setup info, leave button, etc.
     */

    /* Unnecessary elements */
    .game .top .game-name-wrapper,
    .game .top .misc-wrapper .misc-left .options {display: none;}

    .game .top {
        margin-top: 10px;
    }

    /* Pad the sides of the wrapper */
    .game .top .misc-wrapper {
        padding: 0 10px;
    }

    /* Inflate buttons, move to left */
    .game .top .misc-wrapper .misc-left {
        margin-right: auto;
    }

    .game .top .misc-wrapper .misc-buttons {
        margin: 0px;
    }

    .game .top .misc-wrapper .misc-buttons > i {
        margin: 0px 15px;
        transform: scale(2);
    }

    /*
     * Main Content
     *  - Contains player list, actions, chat, etc.
     */
	.game .main {
        width: 100%;
        margin: 0;
		overflow-x: scroll;
		scrollbar-width: none;
		scroll-snap-type: x mandatory;
	}

	.game .main::-webkit-scrollbar {
		display: none;
	}

	.game .main::-webkit-scrollbar-track {
		display: none;
	}

	.game .main::-webkit-scrollbar-thumb {
		display: none;
	}

	.game .left-panel {
        display: none;
		scroll-snap-align: start;
		scroll-snap-stop: always;
	}

	.game .center-panel {
        min-width: unset;
		width: 100%;
		scroll-snap-align: center;
		scroll-snap-stop: always;
	}

	.game .right-panel {
        display: none;
		scroll-snap-align: end;
		scroll-snap-stop: always;
	}

	.game .top {
		flex-flow: column !important;
	}

	.game .state-wrapper {
		order: 3;
		margin-top: 15px
	}

	.game .message .sender {
		flex-basis: 100px;

		padding-left: 0px;
	}

	.game .message .time {
		display: none;
	}
}