.react-mde {
	border: none;

	box-shadow: 0px 0px 1px black;
}

.react-mde .mde-header {
	border-bottom: 1px solid #242424;

	background-color: #2e2e2e;
}

.react-mde button {
	color: white !important;
	outline: none;
}

.react-mde button.selected {
	border: 1px solid #222222 !important;
}

.react-mde textarea {
	background-color: #373737;
	color: white;
	outline: none;
}

.react-mde .grip {
	border-top: 1px solid #242424;

	background-color: #2e2e2e;
	color: white;
}

.mde-preview.md-content {
	padding: 5px;
}

.md-content p {
	margin: 0px 0px 15px 0px;

	white-space: pre-wrap;
}

.md-content p:last-child {
	margin-bottom: 0px;
}

.md-content blockquote {
	margin: 0px;
	padding-left: 5px;
	border-left: 3px solid white;

	opacity: 0.6;
}

.md-content a {
	color: #dd8181;
}

.md-content a:hover {
	opacity: 0.8;
}

.md-content code {
	padding: 5px;
	border-radius: 3px;

	background-color: #373737;
	font-family: 'Courier New', Courier, monospace;
}

.md-content img {
	max-width: 400px;
	max-height: 400px;
}

.md-content ul, ol {
	margin: 0px;
	padding-left: 20px;
}

.md-content h1, .md-content h2, .md-content h3, .md-content h4, .md-content h5, .md-content h6 {
	margin: 0px 0px 15px 0px;
}