.moderation {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	justify-content: flex-start;
}

.moderation .span-panel {
	background-color: var(--theme-color);
}

.moderation .action-panel {
	margin-bottom: 10px;
}

.moderation .mod-commands {
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.moderation .mod-commands .inputs {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: flex-start;
}

.moderation .mod-commands .search-select {
	margin: 0px 10px 10px 0px;
}

.moderation .mod-commands .command {
	width: 200px;

}

.moderation .mod-commands .command div {
	background-color: #262626;
}

.moderation .mod-commands input {
	padding: 5px;
}

.moderation .mod-commands .arg {
	border: none;
	margin: 0px 10px 10px 0px;

	background-color: whtie;
	color: black;
}

.moderation .group-panel {
	margin-bottom: 10px;
}

.moderation .group-panel:last-child {
	margin-bottom: 0px;
}

.moderation .group-panel .title {
	margin-bottom: 5px !important;
}

.moderation .group-panel .members {
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	justify-content: flex-start;
}

.moderation .group-panel .members .member {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-start;

	margin: 10px 10px 0px 0px;
	padding: 10px;

	background-color: white;
	color: black;
}

.moderation .group-panel .members .member .status-icon {
	margin-left: 5px;
}