html, body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    color: white;
    font-size: 16px;

    -webkit-overflow-scrolling: touch;
}

.site-wrapper {
	display: flex;
	flex-flow: column;
	align-items: stretch;
	justify-content: flex-start;

	width: 100%;
	height: 100%;

    font-size: 16px;
}

.dark1 {
    background-color: #121212;
}

.dark2 {
	background-color: #1d1d1d;
}

.dark3 {
	background-color: #262626;
}

.dark4 {
	background-color: #2e2e2e;
}

.dark5 {
	background-color: #373737;
}

.top-bar {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;

	box-shadow: 0px 0px 5px black;
	z-index: 2;
}

.logo {
	margin: 2px 10px 2px 20px;

	font-family: JuiceITC;
	font-size: 60px;
	cursor: pointer;
}

.text-theme {
	color: #9175b4;
}

.no-highlight {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.main {
	flex-grow: 1;

	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	justify-content: flex-start;;
}

.left-bar {
	display: flex;
	flex-flow: column;
	align-items: stretch;
	justify-content: flex-start;

	width: 200px;
}

.left-bar .section {
	padding: 5px 0px;
	border-bottom: 1px solid #292929;
}

.left-bar .section:last-child {
	border: none;
}

.left-bar .title, .left-bar .nav-row {
	padding: 10px;
}

.left-bar .title {
	opacity: 0.5;
}

.left-bar .nav-row {
	cursor: pointer;
}

.left-bar .nav-row:hover {

	background-color: #262626;
}

.left-bar .nav-row.sel {
	background-color: #242424;
}

.left-bar .nav-row i {
	margin-right: 20px;
}

.site-content {
	flex-grow: 1;

	display: flex;
	flex-flow: column;
	align-items: stretch;
	justify-content: flex-start;

	padding: 30px;
}

.panel {
	height: 500px;
}

/*
* Custom Fonts
*/

@font-face {
    font-family: JuiceITC;
    src: url("/fonts/juiceitc.ttf");
}