.signin {
	display: flex;
	flex-flow: column;
	align-items: center;
}

.signin-btn {
	display: flex;
	flex-flow: row nowrap !important;
	align-items: center;

	margin-bottom: 10px;
}

.signin-btn:hover {
	opacity: 0.8;
}

.signin-icon {
	flex-shrink: 0;

	background-size: 100%;
}

.signin-with-discord {
	background-color: #7289da !important;
}

.signin-with-discord .signin-icon {
	margin-right: 12px;

	width: 20px;
	height: 20px;

	background-image: url("/images/icons/discord.png");
}

.signin-with-twitch {
	background-color: #9147ff !important;
}

.signin-with-twitch .signin-icon {
	margin-right: 12px;

	width: 20px;
	height: 20px;

	background-image: url("/images/icons/twitch.png");
}

.signin-with-google {
	background-color: white !important;
	color: #696969 !important;
}

.signin-with-google .signin-icon {
	margin-right: 12px;

	width: 20px;
	height: 20px;

	background-image: url("/images/icons/google.png");
}

.signin-with-steam {
	background-color: #121212 !important;
}

.signin-with-steam .signin-icon {
	margin-right: 12px;

	width: 20px;
	height: 20px;

	background-image: url("/images/icons/steam.png");
}

.signin .legal a {
	color: #dd8181;
	text-decoration: none;
}

.signin .legal a:hover {
	opacity: 0.8;
}